
 .body{
    box-sizing: border-box;
    overflow-x: hidden;
    margin:0;
    padding: 0;
 }
.header{
  display:flex;
  height: 700px;
  width: 1700px;
  background-image:url(bg-image.png) ;
  background-image: cover;
  
  }

.first-nav{
    display:flex; 
    /*justify-content: space-around;*/
    color: #fff;
    padding-top: 30px;
}
.about{
    padding-left: 500px;
    padding-bottom: 600px; 
    color: white; 
    text-decoration: underline;
    font-size: 15px;
}
.sillabus{
    padding-left: 90px;
    padding-bottom: 600px; 
    color: white; 
    font-size: 15px;
    opacity:0.8;

}
.first-image{
    padding-left: 90px;
    width: 44px;
    height: 44px;
    padding-bottom: 600px; 
    
}
.projects{
    padding-left: 90px;
    padding-bottom: 600px; 
    color: white; 
    font-size: 15px;
}
.faq{
    padding-left: 90px;
    padding-bottom: 600px; 
    color: white; 
    font-size: 15px;  
}
.webdev{
    position:absolute;
    display: flex;
    font-size: 47px;
    color: #fff;
    padding-top: 230px;
    left: 500px;
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 3px;

}
.first-span-text{
    
    display: flex;
    font-size: 16px;
    color: #fff;
    margin-left: -450px;
    font-weight:100px;
    padding-top: 350px;
    text-align: center;
    
    

}
.first-button{
    position: absolute;
    display: flex;
    background-color:#00AFDB;
    border-style: none;
    padding-top: 25px;
    padding-bottom: 25px;
    justify-content: center;
    align-items: center;
    font-weight: ;
    margin-top: 450px ;
    margin-bottom: 200px;
    color: #fff;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 720px;
    
}
